<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ title }} | AngularJS App</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="img/favicon.ico" type="image/x-icon">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <meta name="author" content="">
    <meta name="keywords" content="app">
    <meta name="description" content="App">

    <!-- Verifications -->
    <meta name="google-site-verification" content=""/>
    <meta name="msvalidate.01" content=""/>
    <meta name="alexaVerifyID" content=""/>
    <meta name="yandex-verification" content=""/>
    <meta name="p:domain_verify" content=""/>

    <meta property="og:title" content="App">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://">
    <meta property="og:site_name" content="App">
    <meta property="og:description" content="App">

</head>
<body data-ng-cloak>
<header class="page-header navbar-fixed-top">
    <!--Navigation-->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#/">Rabbit Farm</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#/" data-active-link="active">Rabbits</a></li>
                    <li><a href="#/feedings" data-active-link="active">Feedings</a></li>
                    <li><a href="#/purchases" data-active-link="active">Purchase</a></li>
                    <li><a href="#/realizations" data-active-link="active">Realization</a></li>
                    <li><a href="#/reports" data-active-link="active">Reports</a></li>
                    <!--<li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Action</a></li>
                            <li class="divider"></li>
                            <li class="dropdown-header">Nav header</li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </li>-->
                </ul>
                <ul class="nav navbar-nav navbar-right" ng-hide="authorization.isLogged()">
                    <li><a href="#/login" data-active-link="active">Login</a></li>
                    <li><a href="#/register" data-active-link="active">Register</a></li>
                </ul>
               <ul class="nav navbar-nav navbar-right" ng-show="authorization.isLogged()">
                    <li><a href="#/login" data-active-link="active">My Account</a></li>
                </ul>
                <div data-ng-cloak data-ng-if="account.isAuthenticated()" class="nav navbar-nav pull-right">
                    <ul>
                        <li class="navbar-text navbar">
                            <span class="user-greeting">{{authorization.getLocalUser().username}}</span>
                            <a data-ng-click="account.logout()" href="#/logout">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>
</header>
<!--Main Content-->
<main>
    <div class="container" data-ng-class="{'spinner': loading}" data-ng-view></div>

    <!--[if lt IE 9]>
    <h1>Your browser is out of date, please <a href="http://browsehappy.com"><strong>update your browser</strong></a>
    </h1>
    <![endif]-->
</main>

<!--Footer-->
<footer class="footer">
    <div class="container">
        <p class="text-muted">Copyright &copy; Team Antalya. Some rights reserved.</p>
    </div>
</footer>

<script data-main="js/main" src="js/libs/requirejs/require.js"></script>

</body>
</html>