<div class="row">
    <header>
        <h3>Rabbits</h3>
    </header>

    <table class="table">
        <thead>
        <tr>
            <th>Edit</th>
            <th>Mark</th>
            <th>Gender</th>
            <th>Status</th>
            <th>Acquisition Date</th>
            <th>Acquisition Cost</th>
        </tr>
        </thead>

        <tbody>
        <tr ng-repeat="rabbit in data">
            <td>
                <button class="glyphicon glyphicon-edit demo btn btn-primary btn-large" aria-hidden="true"
                        data-toggle="modal" href="#edit" ng-click="edit(rabbit['Id'])"></button>
            </td>
            <td>{{ rabbit['Mark'] }}</td>
            <td>{{ rabbit['Gender'] }}</td>
            <td>{{ rabbit['Status'] }}</td>
            <td>{{ rabbit['Acquisition']['AcquisitionDate']|date:'dd-MM-yyyy' }}</td>
            <td>{{ rabbit['Acquisition']['Cost'] }}</td>
        </tr>
        </tbody>
    </table>

    <!-- Edit Modal -->
    <div id="edit" class="modal fade" tabindex="-1" data-width="760">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3>Edit Rabbit</h3>
        </div>

        <div class="modal-body">
            <div class="row-fluid">
                <div class="input-group">
                    <label class="input-group-addon" id="rabbit-mark" for="mark">Mark</label>
                    <input type="text" class="form-control" id="mark" aria-describedby="rabbit-mark"
                           ng-model="rabbit.Mark" ng-value="rabbit['Mark']">
                </div>

                <div class="input-group">
                    <label class="input-group-addon" id="rabbit-gender" for="gender">Gender</label>

                    <select class="form-control" id="gender" aria-describedby="rabbit-gender"
                            data-ng-model="rabbit.gender">
                        <option value="Male" ng-selected="rabbit['Gender'] == 'Male'">Male</option>
                        <option value="Female" ng-selected="rabbit['Gender'] == 'Female'">Female</option>
                    </select>
                </div>

                <div class="input-group">
                    <label class="input-group-addon" id="rabbit-status" for="status">Status</label>

                    <select class="form-control" id="status" aria-describedby="rabbit-gender"
                            data-ng-model="rabbit.status">
                        <option value="InFarm" ng-selected="rabbit['Status'] == 'InFarm'">In Farm</option>
                        <option value="Sold" ng-selected="rabbit['Status'] == 'Sold'">Sold</option>
                        <option value="Dead" ng-selected="rabbit['Status'] == 'Dead'">Dead</option>
                    </select>
                </div>
                <div class="input-group">
                    <label class="input-group-addon" id="rabbit-cost" for="cost">Cost</label>
                    <input type="number" class="form-control" id="cost" aria-describedby="rabbit-cost"
                           ng-model="rabbit.Acquisition.Cost" ng-value="rabbit['Acquisition']['Cost'] || 0">
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <button type="button" data-dismiss="modal" class="btn btn-danger pull-left" ng-click="remove(rabbit.Id)">Delete</button>
            <button type="button" data-dismiss="modal" class="btn">Close</button>
            <button type="button" class="btn btn-primary" ng-click="save(rabbit)">Save changes</button>
        </div>
    </div>

</div>