<h2>{{ title }}</h2>
<div class="row">
    <div class="col-md-8">
        <form name="registerForm" class="form-horizontal" method="post" role="form" novalidate
              ng-submit="register(user, registerForm)">
            <h4>Create a new account.</h4>
            <hr/>
            <div class="form-group"
                 ng-class="{ 'has-error' : registerForm.email.$touched && registerForm.email.$invalid }">
                <label class="col-md-2 control-label" for="email">Email</label>

                <div class="col-md-6">
                    <input type="email" id="email" name="email" class="form-control" required
                           ng-model="user.email"/>

                    <span class="text-danger" ng-show="registerForm.email.$touched && registerForm.email.$invalid">
                        Please enter a valid email address!
                    </span>
                </div>
            </div>

            <div class="form-group"
                 ng-class="{ 'has-error' : registerForm.password.$touched && registerForm.password.$invalid }">
                <label class="col-md-2 control-label" for="password">Password</label>

                <div class="col-md-6">
                    <input type="password" id="password" name="password" class="form-control" required="required"
                           ng-model="user.password"/>
                        <span class="text-danger"
                              ng-show="registerForm.password.$touched && registerForm.password.$invalid">
                            The Password field is required.
                        </span>
                </div>
            </div>

            <div class="form-group"
                 ng-class="{ 'has-error' : registerForm.password.$touched && registerForm.password.$invalid }">
                <label class="col-md-2 control-label" for="confirm">Confirm Password</label>

                <div class="col-md-6">
                    <input type="password" id="confirm" name="confirm" class="form-control" required="required"
                           ng-model="user.confirm"/>
                        <span class="text-danger"
                              ng-show="registerForm.confirm.$touched && user.password != user.confirm">
                            The password does not match!
                        </span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-6">
                    <input type="submit" value="Register" class="btn btn-default"
                           ng-disabled="registerForm.$invalid || user.password != user.confirm"/>
                </div>
            </div>
            <p>
                <a href="#/login">Login with existing user</a>
            </p>
        </form>
    </div>

    <div class="col-md-4">
        <h4>Therms and conditions</h4>
        <hr/>
        <div>
            <p>
                Here goes the therms
            </p>
        </div>
    </div>
</div>